<h1> Velocity Report </h1>

    <div class="grid-container-engineer grid-heading">
        <div>What Week</div>
        <div>Target Points</div>
        <div>Ideal Points</div>
        <div>Actual Points</div>
    </div>

    <% all_chart_info.each do |chart_info| %>

        <div class="grid-container-engineer">
            <div class="weeks"><%= chart_info["week"] %></div>
            <div class="points"><%= chart_info["points_target"] %></div>
            <div class="ideal"><%= chart_info["ideal_points"] %></div>
            <div class="actual"><%= chart_info["actual_points"] %></div>
            
        </div>
    <% end %>

    <div>
        <canvas id="velocity-chart"></canvas>
    </div>

    <form action="">
        <div class="velocity-download-button">
            <button  id="download">Download Graph</button>
        </div>
        
    </form>
    
 

    <script src="/javascripts/velocity_chart.js"></script>
    <script>

    const canvas = document.querySelector('canvas');
    const download = document.querySelector('button');
    const context = canvas.getContext('2d');
    const {jsPDF} = window.jspdf;
    const pdf = new jsPDF(
             {orientation: 'l', unit: 'mm',format: 'a1', putOnlyUsedFonts:true}
        );
    download.addEventListener("click", () => 
    {
        const imgData = canvas.toDataURL(canvas, '#ffffff', {type: "image/jpeg", encoderOptions: 1.0});
        pdf.addImage(imgData, 'JPEG', 0, 0);
        pdf.save("download.pdf");
    }, false);




        // download.addEventListener("click", function() {
        //     // only jpeg is supported by jsPDF
        //     var ctx = document.getElementById('velocity-chart');
        //     var imgData = ctx.toDataURL("image/jpeg", 1.0);
        //     var pdf = new jsPDF({
        //         orientation: 'landscape',
        //     });
        //     pdf.addImage(imgData, 'JPEG', 0, 0);
        //     pdf.save("download.pdf");
        // }, false);
    </script>