<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<style> @import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
 @import url('https://fonts.googleapis.com/css?family=Montserrat:900');
 
</style>
</head>
<body>
    <h1>Bug Muncher</h1>

    <h3>Current Sprint: Defect Overview</h3>

    <div class="divCenter">
        <div class="grid-defect-summary">
            <% defect_summary.each do |defect| %>
                <div><%= defect["status"]%></div>:
                <div class="defectCount"><%= defect["count"]%></div>
                |
            <% end %>
        </div>
    </div>


    <div class="fixed-height-chart">
        <canvas id="myChart" width="200px" height="200px"></canvas>
    </div>


    <center>
        <button id="download">Download Graph</button>
    </center>

    <form action="/login" method="get" class="form">
        <button>Login</button>
    </form>

    <form action="/engineers/new" method="get" class="form">
        <button>Sign Up</button>
    </form>

    <script src="/javascripts/application.js"></script>
    <script>
        download.addEventListener("click", function() {
            // only jpeg is supported by jsPDF
            var ctx = document.getElementById('myChart');
            var imgData = ctx.toDataURL("image/jpeg", 1.0);
            var pdf = new jsPDF({
                orientation: 'landscape',
            });
            pdf.addImage(imgData, 'JPEG', 0, 0);
            pdf.save("download.pdf");
        }, false);
    </script>


</body>
</html>