<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bug Muncher</title>

<style> @import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
 @import url('https://fonts.googleapis.com/css?family=Montserrat:900');
 
</style>
</head>

<body>

<div class="main-page-container">
    <h1>Bug Muncher</h1>

    <h3>Defect Overview: Current Sprint</h3>

    <div class="divCenter">
        <div class="grid-defect-summary">
            <% defect_summary.each do |defect| %>
                <div><%= defect["status"]%></div>:
                <div class="defectCount"><%= defect["count"]%></div>
                |
            <% end %>
        </div>
    </div>


    <div class="fixed-height-chart">
        <canvas id="myChart"></canvas>
    </div>

    <div class="button-container">
 
        <form action="" class="form">
            <button id="download">Download Chart (PDF)</button>
        </form>
        
    

        <form action="/login" method="get" class="form">
            <button>Login</button>
        </form>

        <form action="/engineers/new" method="get" class="form">
            <button>Sign Up</button>
        </form>
    </div>

    <script src="/javascripts/application.js"></script>



    <script>

    const canvas = document.querySelector('canvas');
    const download = document.querySelector('button');
    const context = canvas.getContext('2d');
    const {jsPDF} = window.jspdf;
    const pdf = new jsPDF(
             {orientation: 'l', unit: 'mm',format: 'a1', putOnlyUsedFonts:true}
        );
    download.addEventListener("click", () => 
    {
        const imgData = canvas.toDataURL(canvas, '#ffffff', {type: "image/jpeg", encoderOptions: 1.0});
        pdf.addImage(imgData, 'JPEG', 0, 0);
        pdf.save("download.pdf");
    }, false);


        
        // download.addEventListener("click", function() {
        //     // only jpeg is supported by jsPDF
        //     var ctx = document.getElementById('myChart');
        //     var imgData = ctx.toDataURL("image/jpeg", 1.0);
            
        //     var pdf = new jsPDF({
        //         orientation: 'landscape',
        //     });
        //     pdf.addImage(imgData, 'JPEG', 0, 0);
        //     pdf.save("download.pdf");
        // }, false);
    </script>

</div>
</body>
</html>