<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>

  <title>BugMuncher</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

  <div class=mainContainer>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/defects">All Defects</a>
        <a href="#">Open Defects</a>
        <a href="#">In-Progress</a>
        <a href="#">Popcorn</a>
        <a href="#">About</a>
    </div>


    <div class="icon-bar">
      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
      <a href="#" class="google"><i class="fa fa-google"></i></a> 
      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
    </div>


    <%= yield %>

    <br>
    <br>
    <br>
    <% if logged_in? %>
        Logged in as <%= current_engineer["email"] %>
        <form action="/logout" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>Logout</button>
        </form>

    <% end %>


  

    <div class="fixed-footer">
      <div class="navbar">
          <a href="/">Home</a>
          <a href="/defects">All Defects</a>
          <a href="#">Open Defects</a>
          <a href="#">In-Progress</a>
          <a href="#">Popcorn</a>
          <a href="#">About</a>
      </div>
    </div>

  
  </div>
  

  
</body>
</html>