<h1>Please enter your details to Login</h1>

<form action="/login" method="post" class="form">
  <label for="">email</label>
  <input name="email" type="text">
  <label for="">password</label>
  <input name="password" type="password">
  <button>login</button>
</form>