<form action="/defects" method="post">
    <label for="">Defect Title</label>
    <input name="defect_title" type="text">
    <label for="">Description</label>
    <input name="description" type="text">
    <label for="">Status</label>
    <input name="status" type="text">
  <button>post</button>
</form>