<h1>Add a New Defect</h1>
<form action="/defects" method="post" class="form">
    <label for="">Defect Title</label>
    <input name="defect_title" type="text">
    <label for="">Description</label>
    <input name="description" type="text">
    <label for="">Status</label>
    <input name="status" type="text" placeholder="New" disabled>
  <button>Submit</button>
</form>