* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 14px;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center;
}

.form {
    text-align: center;
}

.inlineform {

    display:inline;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

.mainContainer {
    width: 90%;
    margin: 0 auto;

}

.allDefects {
    color: brown;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 3% 15% 61% 10% 11%;
    grid-gap: 1px;
}

.grid-container-engineer {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 30% 30% 30%;
    grid-gap: 1px;
}

.grid-heading {
    background-color:#5e5e5e;
    color: white;
    text-align: left;
    padding: 5px;

}

.divCenter {
    text-align: center;
}

.grid-defect-summary {
    display: inline-flex;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    align-content: center;
}


.fixed-footer{
    position: static;
}    

.navbar {
    margin-top: 1%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    
}

.navbar a {
    color: white;
    text-align: center;
    padding: 3px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: red;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
  
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}


.icon-bar {
    position: fixed;
    left: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.3s ease;
    color: white;
    font-size: 8px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }

  .fixed-height-chart {
    height: 200px;
    width:100%;
    border: 1px solid black;
}

canvas {
    display: inline;

 }

