
<h1>New User Registration </h1>


<form action="/engineers" method="post" class="form" name="newUser">
    <label for="">Name</label>
    <input name="name" type="text" minlength="2">
    <label for="">Email</label>
    <input name="email" type="email" required/>
    <label for="">Password</label>
    <input name="password" type="text" minlength="1">
  <button>Submit</button>
</form>