


<form action="/engineers" method="post" class="registration-form" name="newUser">

<h1>New Software Engineer Registration </h1>
<div class="form-inputs">
    <label for="">Engineer Name:</label>
    <input name="name" type="text" minlength="2">

    <label for="">Engineer Email:</label>
    <input name="email" type="email" required>
 
    <label for="">Engineer Password:</label>
    <input name="password" type="text" minlength="1">
  
     
    <label for="">Engineer Role:</label>
    <select name="role">
        <option value="Jnr Dev">Jnr Dev</option>
        <option value="Snr Dev">Snr Dev</option>
        <option value="Tech Lead">Tech Lead</option>
    </select>
     </div>


  <button class="submit-button">Submit</button>
</form>